body, html {
    height: 100%;
}

@font-face {
    font-family: delhi;
    src: url(./images/delhi.ttf);
}

/*#navbar-id {
  color: rgba(217, 138, 108, 0.5);
}*/

h3 {
    cursor: crosshair;
}

.artinder {
    font-family: delhi;
    color: rgba(217, 138, 108, 0.5);
    /*color: rgb(250,235,215);*/
}

.title {
    font-family: delhi;
}

.glyphicon {
    font-size: 25px;
    color: grey;
}

.space {
    height: 12px;
}

.tab-space {
    padding-right: 1em;
}

.nav-r {
    margin-top: 20px;
}


/* Icon Fade */

.hvr-icon-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
}

.hvr-icon-fade:before {
    content: "\f00c";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    /*font-family: FontAwesome;*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;
}

.hvr-icon-fade:hover:before, .hvr-icon-fade:focus:before, .hvr-icon-fade:active:before {
    color: rgb(211, 141, 124);
    ;
}


/* Float Shadow */

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */


/*favorites page*/

.hottest-flex {}

.faves {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.faves img {
    width: 400px;
    height: 500px;
}

.fave-pics-div {
    display: flex;
    flex-wrap: wrap;
}

.fav-info {
    max-width: 400px;
}

.border {
    padding: 3px;
    border: 3px solid white;
    background-color: black;
}

body {
    background-image: radial-gradient(ellipse, rgb(239, 207, 182), white);
}

#navlink {
    cursor: crosshair;
}
