<!-- Hot or Not picture section starts -->

<br>
<br>
<br>
<div class="row marketing">
    <button class=" txt btn active center-block btn-sm" ng-click="getArt()"> Picture Please</button>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="hotpic">

            <img src="{{arts.images[0].baseimageurl}}" alt=""><br>
        </div>
        <div class="info">
            <span>{{arts.title}}&nbsp</span> <br>
            <!-- <span> {{arts.culture}}</span> <br> -->
            <!-- <span>classification: {{arts.classification}}</span> <br> -->
            <span>{{arts.people[0].name}}</span> <br>
        </div>
    </div>
    <!-- images[0].baseimageurl -->
    <br>
    <div class="heartbtn">
        <span class="glyphicon glyphicon-heart active" class="btn" ng-click="pushHot(arts)">&nbsp&nbsp&nbsp</span>

        <span class="glyphicon glyphicon-remove active" class="btn" ng-click="getArt()"></span>
    </div>
    <br>
    <br>

    <div class="checkArt">
        <!--You will need to make the ui-sref work. It should point to the booked state. If you look at your app.js the booked state
is expecting an id to be passed along. You can get that id from the data object that we are repeating over. The syntax for going to a route with params is "routename({param:paramValue})" -->
        <button type="button" class="txt btn btn-success btn-sm active center-block" ng-click="checkArt()" ui-sref="Hot">Check out your hot pics</button>
    </div>
    <br>
    <br>
    <br>
