<!-- this is the home html page -->
<div class="homePage parallax">

    <div class="title">ArTinder</div>
</div>


<div class=" ">
    <!-- container -->
    <div class="row ">
        <div>

            <div class="post-preview">
                <!-- <a href="post.html"> -->
                <h3 class="post-title ">
                  <br>
                  -Give art some love-
                  <br>
                  <br>
                  <br>
                  -Discover new favorites-
                  <br>
                </h3>

            </div>


            <div class="post-preview">
                <!-- <a href="post.html"> -->
                <br>

                  <br>
                <div style="height:435px;" class="parallax3">
                </div>
                  <br>
                  <br>
                  <div class="picasso">
                <h2 class="post-subtitle">“Art washes away from the soul the dust of everyday life.”
                  <br>
                  <br>
- Pablo Picasso
                </h2>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<!-- footer -->

<footer class="">

    <p class="copyright text-muted text-center">Copyright &copy; My Website 2016</p>

</footer>
