<!-- this is the home html page -->
<div class="homePage parallax">
    <!-- <div>
    <img style="height:100px; width:100px;" class="home-logo" src="/images/tinder-icon.svg">
  </div> -->
    <div class="title">ArTinder</div>
</div>




<div class="container ">
    <div class="row ">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <!-- <a href="post.html"> -->
                <h3 class="post-title ">
                  <br>
                  “One ought, every day at least, to hear a little song, read a good poem, see a fine picture, and, if it were possible, to speak a few reasonable words.”
                  <br>
- Johann Wolfgang von Goethe
                        </h3>
                <br>
                <hr>

                <br>
                <h2 class="post-subtitle">
                  “Art and love are the same thing: It’s the process of seeing yourself in things that are not you.”
                  <br>
- Chuck Klosterman
                        </h2>
                <br>
                <hr>
                <br>
            </div>


            <div class="post-preview">
                <!-- <a href="post.html"> -->
                <h3 class="post-title">

“It is good to love many things, for therein lies the true strength, and whosoever loves much performs much, and can accomplish much, and what is done in love is well done.”
<br>
- Vincent Van Gogh

                        </h3>
                <br>
                <hr>

                <br>
                <h1 class="post-subtitle">“Art washes away from the soul the dust of everyday life.”
                  <br>
- Pablo Picasso
</h1>
                <br>
            </div>
            <hr>
        </div>
    </div>
</div>


<!-- footer -->

<footer class="">

    <p class="copyright text-muted text-center">Copyright &copy; My Website 2016</p>

</footer>
