<!-- this is the home html page -->
<div class="homePage parallax">

    <div class="title">ArTinder</div>
</div>


<div class=" ">
    <!-- container -->
    <div class="row ">
        <div>
            <!-- class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> -->
            <div class="post-preview">
                <!-- <a href="post.html"> -->
                <h3 class="post-title ">
                  <br>
                  <br>
                  -Give art some love, and discover new favorites-
                  <br>
                  <br>
                </h3>

            </div>


            <div class="post-preview">
                <!-- <a href="post.html"> -->
                <br>
                <!-- <h2 class="post-subtitle"> -->
                <!-- “Art and love are the same thing: It’s the process of seeing yourself in things that are not you.”
                  <br>
- Chuck Klosterman -->
                <!-- </h2> -->
                  <br>
                <div style="height:435px;" class="parallax3">
                </div>
                  <br>
                  <br>
                  <br>
                <h1 class="post-subtitle">“Art washes away from the soul the dust of everyday life.”
                  <br>
                  <br>
- Pablo Picasso
                  <br>
                </h1>
                  <br>
            </div>
            <hr>
        </div>
    </div>
</div>

<!-- footer -->

<footer class="">

    <p class="copyright text-muted text-center">Copyright &copy; My Website 2016</p>

</footer>
